@import "tailwindcss";

/* App base styles */
html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
}

* {
  font-family: 'Lexend', sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  color: #2d323f;
}
