@import "tailwindcss";

/* App base styles */
html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
}

* {
  font-family: 'Lexend', sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  color: #2d323f;
}

/* Estilo para opção de placeholder no select */
select option[value=""] {
  color: #1d5cc6 !important;
}

/* Espaçamento para setinha do select */
#field-select {
  padding-right: 48px !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23666' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
